<!doctype html>
<html>
<head>
  <title><%= page.title %></title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <style>
  .dropdown-menu .fa {
    margin-left:10px;
  }
  .avatar {
    width: 32px !important;
    height: 32px !important;
    border-radius: 50%;
    border: solid 2px grey;
    margin: 8px;
  }
  </style>
</head>
<body>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">node-js-deb-repo</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <!--<li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
          <li><a href="#">Link</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#">Action</a></li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="#">Separated link</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="#">One more separated link</a></li>
            </ul>
          </li>!-->
        </ul>
        <!--<form class="navbar-form navbar-left" role="search">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Search">
          </div>
          <button type="submit" class="btn btn-default">Submit</button>
        </form>!-->
        <ul class="nav navbar-nav navbar-right">
          <% if (user) {
            function getUser(req,p) {
              var r="Unkown";
              var users=["google","twitter","facebook","local"];
              users.map(function(pp) {
                if (req[pp]) {
                  if (req[pp][p]) r=req[pp][p];
                }
              });
              return r;
            }
            user.email=getUser(user,"email");
            %>
            <li><a><%= user.username %></a></li>
            <li class="dropdown"><img class="avatar" src="https://zion.host/images/avatar.png" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"></img>
              <ul class="dropdown-menu">
                <li><a href="/User/profile"><%= user.username %></a></li>
                <li role="separator" class="divider"></li>
                <li><a href="/User/Settings">Settings</a></li>
                <li><a href="#">PPAs</a></li>
                <li><a href="#">Packages</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="/Login/logout">Logout</a></li>
              </ul>
            </li>
            <%
          } else {
            %>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Login <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li class="text-primary"><a href="/Login/auth/facebook"><span class="fa fa-facebook"></span> Facebook</a></li>
                <li class="text-info"><a href="/Login/auth/twitter"><span class="fa fa-twitter"></span> Twitter</a></li>
                <li class="text-danger"><a href="/Login/auth/google"><span class="fa fa-google-plus"></span> Google+</a></li>
                <li role="separator" class="divider"></li>
                <li class="text-default"><a href="/Login/login"><span class="fa fa-user"></span> Local Login</a></li>
                <li class="text-default"><a href="/Login/signup"><span class="fa fa-user"></span> Local Signup</a></li>
              </ul>
            </li>
            <%
          } %>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>

  <div class="container">
    <%- page.html %>
  </div>
</body>
</html>
